# Auto detect text files and perform LF normalization
* text=auto
tx_2/dqn_trading_transformer_small.h5 filter=lfs diff=lfs merge=lfs -text
tx_1_google_tpu/dqn_trading_transformer.h5 filter=lfs diff=lfs merge=lfs -text
